<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<form action="/servlet/pizza.jsp" method="get">
	<table border="1px;">
		<tr>
			<th>
			종류
			</th>
			<th>
			이름
			</th>
			<th>
			가격
			</th>
		</tr>
		
		<tr>
			<td rowspan="5">
			피자
			</td>
			<td>
			치즈피자
			</td>
			<td>
			5000
			</td>
		</tr>
		<tr>
			<td>
			콤비네이션피자
			</td>
			<td>
			6000
			</td>
		</tr>
		<tr>
			<td>
			포테이토피자
			</td>
			<td>
			7000
			</td>
		</tr>
		<tr>
			<td>
			고구마피자
			</td>
			<td>
			7000
			</td>
		</tr>
		<tr>
			<td>
			불고기피자
			</td>
			<td>
			8000
			</td>
		
		

		<tr>
			<th>
			종류
			</th>
			<th>
			이름
			</th>
			<th>
			가격
			</th>
		
		<tr>
			<td rowspan="6">
			토핑
			</td>
			<td>
			고구마무스
			</td>
			<td>
			1000
			</td>
		</tr>
		<tr>
			<td>
			콘크림무스
			</td>
			<td>
			1500
			</td>
		</tr>
		<tr>
			<td>
			파인애플토핑
			</td>
			<td>
			2000
			</td>
		</tr>
		<tr>
			<td>
			치즈토핑
			</td>
			<td>
			2000
			</td>
		</tr>
		<tr>
			<td>
			치즈크러스트
			</td>
			<td>
			2000
			</td>
		</tr>
		<tr>
			<td>
			치즈바이트
			</td>
			<td>
			3000
			</td>
		</tr>
		
		<tr>
			<th>
			종류
			</th>
			<th>
			이름
			</th>
			<th>
			가격
			</th>
		
		<tr>
			<td rowspan="11">
			사이드
			</td>
			<td>
			오븐구이통닭
			</td>
			<td>
			9000
			</td>
		</tr>
		<tr>
			<td>
			치킨스틱&윙
			</td>
			<td>
			4900
			</td>
		</tr>
		<tr>
			<td>
			치즈오븐스파게티
			</td>
			<td>
			4000
			</td>
		</tr>
		<tr>
			<td>
			새우링&웨지감자
			</td>
			<td>
			3500
			</td>
		</tr>
		<tr>
			<td>
			갈릭포테이토
			</td>
			<td>
			3000
			</td>
		</tr>
		<tr>
			<td>
			콜라
			</td>
			<td>
			1500
			</td>
		</tr>
		<tr>
			<td>
			사이다
			</td>
			<td>
			1500
			</td>
		</tr>
		<tr>
			<td>
			갈릭소스
			</td>
			<td>
			500
			</td>
		</tr>
		<tr>
			<td>
			피클
			</td>
			<td>
			300
			</td>
		</tr>
		<tr>
			<td>
			핫소스
			</td>
			<td>
			100
			</td>
		</tr>
		<tr>
			<td>
			파마산 치즈가루
			</td>
			<td>
			100
			</td>
		</tr>
	</table>
	</form>
	
	
	
</body>
</html>