<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>게시판</title>
    <link rel="stylesheet" href="resource/CSS,JS/fonts/fonts.css">
    <link rel="stylesheet" href="resource/CSS,JS/materialize/css/materialize.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="resource/CSS,JS/header.css">
    <script src="resource/CSS,JS/header.js"></script>
    <link rel="stylesheet" href="resource/CSS,JS/footer.css">
    <link rel="stylesheet" href="resource/CSS,JS/board_content.css">
    <link rel="stylesheet" href="resource/CSS,JS/materialize/css/materializeBtn.css">
</head>
<body>
    <div class="naviBack  col s12 m2 z-depth-2">
    </div>
    <div class="naviBar">
        <div class="header">
            <a class="notArea" href="" style="margin-right: 30px;">
                <img src="resource/img/7H_THE_TOWN_LOGO.png" alt="" width="100px" height="100px" style="margin: 0px 50px 0px 30px;">
            </a>
            <ul class="headerUl"><a href="">Get The Pet</a>
                <li class="headerLi topMargin"><a href="">유기견 목록</a></li>
            </ul>
            <ul class="headerUl2"><a href="">7H더 머니</a>
                <li class="headerLi topMargin"><a href="">후원현황</a></li>
                <li class="headerLi"><a href="">후원신청</a></li>
            </ul>
            <ul class="headerUl3"><a href="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7H시판</a>
                <li class="headerLi topMargin"><a href="">공지사항</a></li>
                <li class="headerLi"><a href="">자유 게시판</a></li>
                <li class="headerLi"><a href="">입양 후기</a></li>
                <li class="headerLi"><a href="">나눔 게시판</a></li>
            </ul>
            <ul class="headerUl4"><a href="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;고객 센터</a>
                <li class="headerLi topMargin"><a href="">FAQ</a></li>
                <li class="headerLi"><a href="">1:1 상담</a></li>
            </ul>
            <ul class="notArea" style="margin-left:130px; margin-top:35px;">
                <a href="">
                    <img src="resource/img/Profile_Icon.png" alt="" width="30px" height="30px">
                </a>
            </ul>
            <ul class="notArea" style="margin-left:10px; margin-top:37px;">
                <a href="">오창정 님</a>
            </ul>
            <ul class="menuIcon notArea" style="margin-left:25px; margin-top:35px; z-index: 10;">
                <img class="menuIcon" src="resource/img/Menu_Icon.png" alt="" width="30px" height="30px">
                
            </ul>
        </div>
    </div>
    <div class="myPage" style="margin-top: 60px; z-index: 1;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div class="myPage menuIcon col s12 m2 z-depth-2" style="z-index: 10;">
        <ul class="myPageUl">
            <li class="myPageLi"><a href="">마이페이지</a></li>
            <li class="myPageLi"><a href="">개인정보수정</a></li>
            <li class="myPageLi"><a href="">배송조회</a></li>
            <li class="myPageLi"><a href="">후원내역</a></li>
            <li class="myPageLi"><a href="">문의내역</a></li>
            <li class="myPageLi"><a href="">최애의 아이</a></li>
            <li class="myPageLi"><a href="">나의 게시글</a></li>
            <li class="myPageLi"><a href="">쪽지함</a></li>
            <li class="myPageLi"><a href="">회원탈퇴</a></li>
        </ul>
    </div>


    <div class="board_view_wrap">
        <div class="board_view_title">       
            <p class="content_ct_title">글 제목</p>
            <p class="content_ct_writer">작성자</p>
            <p class="content_ct_date">작성일자</p> 
        </div>
        <div class="board_view_picture">
            <img src="resource/img/7H_THE_TOWN_LOGO.png" width="600" height="600">
            <img src="resource/img/7H_THE_TOWN_LOGO.png" width="600" height="600">
            <img src="resource/img/7H_THE_TOWN_LOGO.png" width="600" height="600">      
        </div>
        <div class="board_view_contents">
            <p class="board_view_contents_p">바이며, 가치를 소담스러운 이상의 인생에 공자는 청춘의 예가 굳세게 피다. 우리 방지하는 동산에는 구하지 사막이다. 내려온 주며, 만물은 바로 보라. 우리의 커다란 만물은 내려온 청춘 싹이 운다. 평화스러운 살았으며, 열매를 만물은 사랑의 것이다. 때까지 영원히 열락의 이것이야말로 것이다. 전인 없는 얼음과 예수는 힘차게 밝은 수 이상의 아름다우냐? 뭇 그들은 있는 든 꽃이 인간에 것이다. 아름답고 그것을 같으며, 아니더면, 돋고, 꾸며 역사를 봄날의 것이다. 가치를 이상의 어디 유소년에게서 인간은 그들은 얼음과 아니다. 맺어, 끓는 산야에 가슴이 곧 보라.
      
            </p>
        </div>
	</div>
    <div class="datgle">
        <div class="board_list_gle">
            <div class="view_gle">대충 댓글 1</div>
            <div class="view_name">이정택</div>
            <div class="view_date">2023/03/09</div>
        </div>
        <div class="board_list_gle">
            <div class="view_gle">대충 댓글 2</div>
            <div class="view_name">김소연</div>
            <div class="view_date">2023/03/09</div>
        </div>
        <div class="board_list_gle">
            <div class="view_gle">대충 댓글 3</div>
            <div class="view_name">오창정</div>
            <div class="view_date">2023/03/09</div>
        </div>
    </div>
    <div class="datgle_input">
        <textarea placeholder="댓글을 입력하세요." style="resize: none;" id="txt_inp"></textarea>
        <button class="datgle_put">댓글 등록</button>
    </div>
    <div class="bt_wrap">
        <div><a href="/PostionPage_board.html" class="bt_a">목록으로</a></div>
        <a href="/PostionPage_Rename.html">수정하기</a>
        <a href="#">삭제하기</a>
    </div>
    <div class="footerArea">
        <ul class="footerUl">
            <li>이용약관</li>
            <li>|</li>
            <li>개인정보처리방침</li>
            <li>|</li>
            <li>법적고지</li>
            <li>|</li>
            <li>사업자정보확인</li>
        </ul>
        
        <p class="footerP">
            본사 : 서울특별시 강남구 테헤란로14길 6 남도빌딩 3F, 4F, 5F
        </p>
        <p class="footerP">
            상호 : 개더타운 대표자 : 파워레인저 사업자등록번호 123-456-789
        </p>
        <p class="footerP">
            개인정보보호책임자 : 이정택
        </p>
        <p class="footerP">
            TEL : 02)1234 - 5678 | FAX : 02-1111-2222 | 이메일 : ckdwjd2717@naver.com
        </p>
        <p class="footerP">
            대표전화 : 010 - 0000 - 0000
        </p>

    </div>
     
</body>










</html>